body{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
  color: rgb(3, 0, 33);
}

h2{
  padding-left: 20px;
}

h3{
  padding-top: 10px;
}

li {
  display: inline;
  float: left;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(240, 156, 22);
}

p{
  padding: 20px;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  display: block;
  padding: 8px;
  background-color: rgb(240, 156, 22);
  text-decoration: none;
}

li a:hover{
  background-color: rgb(201, 123, 0);
}

input [type=button], input[type=submit] {
  background-color: rgb(240, 156, 22);
  border: none;
  float: left;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 4px 2px;
  padding: 5px;
  float: right;
  margin-right: 30px;
}

input [type=text], [id=search] {
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


.inline{
  display: inline;
}

.logo_size{
  height: 50px;
  padding-left: 20px;
  padding-top: 15px;
  float: left;
}

.logo{
  height: 50px;
  padding-left: 20px;
  padding-top: 15px;
}

.logo-right{
  height: 60px;
  padding-left: 20px;
  padding-top: 10px;
  float: right;
}

.active{
  background: orange;
}

.right{
    float: right;
}

.left{
  float: left;
}

.blue-back{
  background-color: rgb(0, 128, 4);
}

.table_borders{
  border: 0.5px solid grey;

}


.title {
  text-align: center;
}

.table-pad{
  padding-left: 20px;
  padding-right: 20px;
}


.centre{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.pad20{
  padding: 10px;
}
